/* fonts
---------------------------------------------------------------------*/
@font-face {
  font-family: "audimat";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/audimat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/audimat-regular-webfont.woff2") format("woff2"), url("../fonts/audimat-regular-webfont.woff") format("woff"), url("../fonts/audimat-regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "audimat";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/audimat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/audimat-bold-webfont.woff2") format("woff2"), url("../fonts/audimat-bold-webfont.woff") format("woff"), url("../fonts/audimat-bold-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "audimat";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/audimat-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/audimat-italic-webfont.woff2") format("woff2"), url("../fonts/audimat-italic-webfont.woff") format("woff"), url("../fonts/audimat-italic-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "audimat";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/audimat-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/audimat-bolditalic-webfont.woff2") format("woff2"), url("../fonts/audimat-bolditalic-webfont.woff") format("woff"), url("../fonts/audimat-bolditalic-webfont.ttf") format("truetype"); }
/* colors
---------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
*,
*:after,
*:before {
  box-sizing: border-box; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

#home #preloader {
  background: white; }

#deckster,
#deckster #preloader {
  background: #2d2d2d; }

#lahacks,
#lahacks #preloader {
  background: #3F3F3F; }

#bruinbash,
#bruinbash #preloader {
  background: #1584B7; }

#juggle,
#juggle #preloader {
  background: #14A697; }

#ageago,
#ageago #preloader {
  background: #f2bb13; }

#localsonly,
#localsonly #preloader {
  background: #F29D35; }

#sozo,
#sozo #preloader {
  background: #f25151; }

#foodtrucksofla,
#foodtrucksofla #preloader {
  background: #F29D35; }

html,
body {
  height: 100%;
  font-size: 62.5%; }

html.isMobile {
  height: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  html.isMobile body {
    height: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }

body {
  margin: 0;
  font-family: 'audimat';
  font-size: 2.2rem;
  font-weight: normal; }

body.isLoading {
  overflow: hidden; }

::-moz-selection {
  background: rgba(255, 255, 255, 0.25); }

::selection {
  background: rgba(255, 255, 255, 0.25); }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out; }

a {
  -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, opacity 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, opacity 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, opacity 0.25s ease-in-out, border-bottom 0.25s ease-in-out; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4.5rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  margin-before: 0;
  margin-after: 0;
  letter-spacing: 0.0125em; }

h3 {
  font-size: 3rem;
  letter-spacing: 0.025em; }

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  margin-before: 0;
  margin-after: 0; }

#preloader {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 998;
  overflow: hidden; }
  #preloader .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999;
    -webkit-transition: width 0.25s ease-in;
    -moz-transition: width 0.25s ease-in;
    transition: width 0.25s ease-in; }

nav {
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  padding: 0 8rem;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

nav li {
  color: black;
  padding-left: 8rem;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: inline-block; }

nav a.active {
  border-bottom: 0.125em solid black; }
nav a:link, nav a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none; }
nav a:hover, nav a:active {
  border-bottom: 0.125em solid black; }

html.touchSupport nav a:hover, html.touchSupport nav a:active {
  border-bottom: none; }
html.touchSupport nav a.active {
  border-bottom: 0.125em solid black; }

nav #logo {
  position: absolute;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  height: 3.2rem;
  border-bottom: none !important; }

#logo img {
  height: 3.2rem; }

#logo svg {
  height: 3.2rem;
  width: 7.1rem;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  #logo svg:link, #logo svg:visited {
    fill: black;
    stroke: none; }
  #logo svg:hover, #logo svg:active {
    fill: none;
    stroke: black;
    stroke-width: 20; }

html.touchSupport #logo svg:hover, html.touchSupport #logo svg:active {
  fill: black;
  stroke: none; }

/* HOME
=====================================================================*/
/* mobile
---------------------------------------------------------------------*/
html.isMobile .section {
  position: relative; }
  html.isMobile .section.section--about {
    height: calc(((100vh - 5rem) / 2) + 5rem);
    padding-top: 11vh;
    background: #1a1a1a;
    z-index: 2; }
  html.isMobile .section.section--deckster {
    background: #2d2d2d;
    padding-top: calc(9vh);
    padding-top: 8rem;
    margin-top: -8rem; }
    @media all and (max-width: 600px) {
      html.isMobile .section.section--deckster {
        padding-top: 5rem;
        margin-top: -5rem; } }
  html.isMobile .section.section--lahacks {
    background: #3F3F3F; }
  html.isMobile .section.section--bruinbash {
    background: #1584B7; }
  html.isMobile .section.section--juggle {
    background: #14A697; }
  html.isMobile .section.section--ageago {
    background: #f2bb13; }
  html.isMobile .section.section--localsonly {
    background: #F29D35; }
  html.isMobile .section.section--sozo {
    background: #f25151; }

html.isMobile .section .gallery {
  padding-top: 9vh;
  padding-bottom: 5vh; }

/* page dots won't show on desktop */
.flickity-page-dots {
  bottom: 3vh; }

.flickity-page-dots .dot {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 1;
  background: rgba(0, 0, 0, 0.25); }

.flickity-page-dots .dot.is-selected {
  background: rgba(255, 255, 255, 0.75); }

/* desktop
---------------------------------------------------------------------*/
.section-about {
  padding: 0 8rem;
  color: white;
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out; }

.greetings {
  text-align: left;
  line-height: 1.5em; }

.greetings__line-break {
  display: none; }

.greetings__expertise {
  font-style: italic; }

.underline-green {
  border-bottom: 0.125em solid #52F2F2; }

.underline-red {
  border-bottom: 0.125em solid #F25252; }

a.underline-resume:link, a.underline-resume:visited {
  text-decoration: none;
  border-bottom: 0.125em solid white;
  color: white; }
a.underline-resume:hover, a.underline-resume:active {
  background-color: white;
  border-bottom: 0.125em solid black;
  color: black; }

#resume {
  text-align: left; }

#tooltip {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 2rem;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  opacity: 0.75;
  z-index: 999; }

.gallery-cell {
  padding: 0 4.16%; }

.gallery-link:hover:before {
  content: attr(title);
  position: absolute;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  margin: -35px 0 0 0; }

img.home {
  width: 50vw;
  max-width: 100rem;
  margin-bottom: 2rem;
  box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  img.home:hover {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25), 2rem 2rem 0 white; }
  img.home:active {
    -webkit-transform: translateX(3px) translateY(3px);
    -moz-transform: translateX(3px) translateY(3px);
    -ms-transform: translateX(3px) translateY(3px);
    -o-transform: translateX(3px) translateY(3px);
    transform: translateX(3px) translateY(3px); }

html.touchSupport img.home:hover {
  box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.25); }

.is-previous img.home:hover {
  cursor: url(../assets/cursor-previous-01.png) 20 20, w-resize; }

.is-selected img.home:hover {
  cursor: url(../assets/cursor-plus-03.png) 20 20, cell; }

.is-next img.home:hover {
  cursor: url(../assets/cursor-next-01.png) 20 20, e-resize; }

.directions-container {
  /*    display: none;*/
  position: absolute;
  bottom: 8rem;
  width: 100%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  padding: 0 1em; }

.directions-container #nav-directions {
  color: white;
  position: absolute;
  top: 51%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-51%);
  -moz-transform: translateX(-50%) translateY(-51%);
  -ms-transform: translateX(-50%) translateY(-51%);
  -o-transform: translateX(-50%) translateY(-51%);
  transform: translateX(-50%) translateY(-51%);
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .125rem; }

/* arrow keys
---------------------------------------------------------------------*/
#home-keys {
  list-style: none;
  width: 32rem;
  height: 12.7rem;
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-53%);
  -moz-transform: translateX(-50%) translateY(-53%);
  -ms-transform: translateX(-50%) translateY(-53%);
  -o-transform: translateX(-50%) translateY(-53%);
  transform: translateX(-50%) translateY(-53%);
  display: block; }

.key {
  font-size: 4rem;
  display: inline-block;
  color: white;
  text-align: center;
  padding: .8rem 3.5rem;
  background: #1a1a1a;
  border: 1px rgba(255, 255, 255, 0.75) solid;
  -moz-box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75); }

@-webkit-keyframes keyPress {
  0% {
    color: #bbb;
    background: #fafafa; }
  100% {
    color: #888;
    background: #ebeced;
    -webkit-transform: translateX(1px) translateY(2px); } }
@-moz-keyframes keyPress {
  0% {
    color: #bbb;
    background: #fafafa; }
  100% {
    color: #888;
    background: #ebeced;
    -moz-transform: translateX(1px) translateY(2px); } }
@keyframes keyPress {
  0% {
    color: #bbb;
    background: #fafafa; }
  100% {
    color: #888;
    background: #ebeced;
    -webkit-transform: translateX(1px) translateY(2px);
    -moz-transform: translateX(1px) translateY(2px);
    -ms-transform: translateX(1px) translateY(2px);
    -o-transform: translateX(1px) translateY(2px);
    transform: translateX(1px) translateY(2px); } }
@-webkit-keyframes shortKeyPress {
  43.75%,
    56.25% {
    color: white;
    background: #1a1a1a;
    -webkit-transform: translateX(0) translateY(0);
    -moz-box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75); }
  50% {
    color: #1a1a1a;
    background: rgba(255, 255, 255, 0.75);
    -webkit-transform: translateX(0.5rem) translateY(0.5rem);
    -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.75); } }
@-moz-keyframes shortKeyPress {
  43.75%,
    56.25% {
    color: white;
    background: #1a1a1a;
    -moz-transform: translateX(0) translateY(0);
    -moz-box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75); }
  50% {
    color: #1a1a1a;
    background: rgba(255, 255, 255, 0.75);
    -moz-transform: translateX(0.5rem) translateY(0.5rem);
    -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.75); } }
@keyframes shortKeyPress {
  43.75%,
    56.25% {
    color: white;
    background: #1a1a1a;
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    -moz-box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.75); }
  50% {
    color: #1a1a1a;
    background: rgba(255, 255, 255, 0.75);
    -webkit-transform: translateX(0.5rem) translateY(0.5rem);
    -moz-transform: translateX(0.5rem) translateY(0.5rem);
    -ms-transform: translateX(0.5rem) translateY(0.5rem);
    -o-transform: translateX(0.5rem) translateY(0.5rem);
    transform: translateX(0.5rem) translateY(0.5rem);
    -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.75); } }
.left {
  position: absolute;
  left: 1.5rem;
  top: 7rem; }

.right {
  position: absolute;
  right: 1.5rem;
  top: 7rem; }

.top {
  position: absolute;
  left: 11.3rem;
  top: 0rem; }

.down {
  position: absolute;
  left: 11.3rem;
  top: 7rem;
  -webkit-animation: shortKeyPress 8s 0s infinite;
  -moz-animation: shortKeyPress 8s 0s infinite;
  animation: shortKeyPress 8s 0s infinite; }

/* arrow symbols
---------------------------------------------------------------------*/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid transparent;
  border-bottom: 1.4rem solid white; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid transparent;
  border-top: 1.4rem solid white; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 1.4rem solid transparent;
  border-bottom: 1.4rem solid transparent;
  border-left: 1.4rem solid white; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 1.4rem solid transparent;
  border-bottom: 1.4rem solid transparent;
  border-right: 1.4rem solid white; }

/* PROJECT PAGE
=====================================================================*/
.page-wrap {
  letter-spacing: 0.05em;
  line-height: 1.5em;
  max-width: 75rem;
  min-height: 100%;
  /* margin-top and bottom equal to footer height */
  margin: 12rem auto -12rem auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .page-wrap strong {
    letter-spacing: 0.1em; }

.page-wrap:after {
  content: "";
  display: block; }

.page-wrap a:link,
.page-wrap a:visited {
  text-decoration: none;
  color: white;
  border-bottom: 0.125em solid white; }

.page-wrap a:hover,
.page-wrap a:active {
  background-color: white;
  color: black;
  border-bottom: 0.125em solid black; }

.flex-container {
  display: flex !important;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

#project-title {
  /*    border-bottom: 0.125em solid #3f5ca9;*/
  text-transform: uppercase;
  letter-spacing: 0.05em; }

#project-tags {
  text-align: right;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 2rem;
  align-self: center; }

.project-body {
  margin-top: 4rem; }
  .project-body p {
    margin-top: 1em; }
    .project-body p:first-of-type {
      margin-top: 0; }

.process {
  width: 100%;
  margin-top: 4rem; }

.window-mockup {
  border-radius: 3px 3px 0 0;
  border-top: solid 3rem #c7c8ca; }

.project-carousel.slick-slider {
  margin-bottom: 0.5rem; }
  .project-carousel.slick-slider .slick-slide {
    padding: 0; }
  .project-carousel.slick-slider .img.process {
    margin-top: 0; }

.project-group {
  display: inline-block; }

.project-video {
  margin-top: 4rem; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  /*16/9 ratio*/
  /*padding-top: 30px;*/
  /* IE6 workaround*/
  height: 0;
  overflow: hidden; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.embed-container--disabled {
  pointer-events: none; }

html.isMobile .embed-container--disabled {
  pointer-events: auto; }

.project-credits {
  margin-top: 4rem; }
  .project-credits p {
    margin-top: 1em; }
    .project-credits p:first-of-type {
      margin-top: 0; }

.video-container {
  display: inline-block;
  margin-top: 4rem; }

.device-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin-top: 4rem; }

.device-container--sozo {
  background: #f2c222; }

.iphone6--half {
  position: relative;
  box-sizing: border-box;
  margin: 4rem 0;
  padding: calc(1.136*7.875rem*5/6) calc(1.136*3.375rem*5/6);
  display: inline-block;
  width: calc(1.136*27rem*5/6);
  height: calc(1.136*51.75rem*5/6);
  background-size: calc(1.136*27rem*5/6) calc(1.136*51.75rem*5/6) !important; }

.iphone6--half:nth-of-type(1) {
  margin-left: 10%;
  margin-right: 3.75%; }

.iphone6--half:nth-of-type(2) {
  margin-left: 3.75%;
  margin-right: 10%; }

.iphone6--full {
  display: none;
  box-sizing: border-box;
  position: relative;
  margin: 4rem 0;
  padding: calc(10.5rem*3/2) calc(4.5rem*3/2);
  width: calc(36rem*3/2);
  height: calc(69rem*3/2);
  background-size: calc(36rem*3/2) calc(69rem*3/2) !important; }

.iphone6--wht {
  background: url(http://users.dma.ucla.edu/~cgimber/assets/device-frames/iphone-shell-flat-wht@1x.png) no-repeat; }

.iphone6--blk {
  background: url(http://users.dma.ucla.edu/~cgimber/assets/device-frames/iphone-shell-flat-blk@1x.png) no-repeat; }

.device-container .iphone6 video {
  width: 100%;
  height: 100%; }

video {
  display: block;
  max-width: 100%;
  height: auto; }

#project-arrows a.previous img {
  width: 2.9rem;
  position: fixed;
  top: 50%;
  left: 4rem;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out; }

#project-arrows a.next img {
  width: 2.9rem;
  position: fixed;
  top: 50%;
  right: 4rem;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out; }

#project-arrows a {
  display: inline-block;
  height: 100%;
  opacity: .5; }

#project-arrows a:hover {
  opacity: 1; }

#footer,
.page-wrap:after {
  height: 16rem; }

#footer {
  z-index: 10;
  position: relative;
  left: 0px;
  bottom: 0px;
  padding: 0 8rem;
  height: 16rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  #footer .footer-text a:link, #footer .footer-text a:visited {
    text-decoration: none;
    color: black; }
  #footer .footer-text a:hover, #footer .footer-text a:active {
    text-decoration: none;
    border-bottom: 0.125em solid black; }
  #footer ul.footer-icons {
    height: 4rem;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  #footer li {
    height: 4rem;
    padding: 0 2rem;
    display: inline-block; }
    #footer li:first-of-type {
      padding-left: 0; }
    #footer li:last-of-type {
      padding-right: 0; }

svg.icon-social {
  width: 4rem;
  height: 4rem; }
  svg.icon-social rect {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  svg.icon-social path {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  svg.icon-social:link rect, svg.icon-social:visited rect {
    fill: black;
    stroke: none; }
  svg.icon-social:link path, svg.icon-social:visited path {
    fill: white; }
  svg.icon-social:hover rect, svg.icon-social:active rect {
    fill: none;
    stroke: black;
    stroke-width: 15; }
  svg.icon-social:hover path, svg.icon-social:active path {
    fill: black; }

/* IE 6 */
* html #footer {
  position: absolute;
  top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'rem'); }

/* MEDIA QUERIES
=====================================================================*/
/* hide directions-container on mobile
---------------------------------------------------------------------*/
html.isMobile .directions-container {
  display: none; }

/* desktop
---------------------------------------------------------------------*/
@media all and (min-width: 1199px) {
  .page-wrap {
    min-height: 100%; } }
@media all and (max-width: 1122px) {
  .greetings {
    font-size: 5rem; }

  #resume {
    font-size: 2.5rem; } }
@media all and (max-width: 999px) {
  #project-arrows a.previous img {
    width: 2.9rem;
    position: fixed;
    top: 50%;
    left: 2rem; }

  #project-arrows a.next img {
    width: 2.9rem;
    position: fixed;
    top: 50%;
    right: 2rem; } }
@media all and (max-width: 962px) {
  .greetings {
    font-size: 4rem; }

  #resume {
    font-size: 2rem; } }
@media all and (max-width: 834px) {
  .section-about {
    padding: 0 4rem; }

  #project-arrows a.previous img {
    left: 0; }

  #project-arrows a.next img {
    right: 0; }

  .page-wrap {
    margin: 12rem 4rem -12rem 4rem; }

  nav {
    padding: 0 4rem; }
    nav li {
      padding-left: 6rem; }

  #footer {
    padding: 0 4rem; }

  .device-container {
    display: none; }

  .iphone6--half {
    display: none; }

  .iphone6--full {
    display: inline-block;
    padding: calc(1.136*7.875rem*5/6) calc(1.136*3.375rem*5/6);
    width: calc(1.136*27rem*5/6);
    height: calc(1.136*51.75rem*5/6);
    background-size: calc(1.136*27rem*5/6) calc(1.136*51.75rem*5/6) !important; } }
@media all and (max-width: 719px) {
  .greetings__line-break {
    display: inline-block; }

  #footer .footer-text {
    display: none; }
  #footer ul.footer-icons {
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; } }
/* mobile
---------------------------------------------------------------------*/
@media all and (max-width: 600px) {
  body {
    font-size: 1.4rem; }

  .project-body {
    letter-spacing: 0.05em; }

  .greetings,
  #project-title {
    font-size: 3rem; }

  #project-tags {
    display: none; }

  #project-arrows a.previous img,
  #project-arrows a.next img {
    width: 4rem; }

  .gallery-cell {
    padding: 0 4rem; }

  img.home {
    width: calc(100vw - 8rem); }

  nav {
    height: 5rem;
    padding: 0 4rem; }
    nav #logo {
      height: 2rem;
      width: 4.4375rem; }
    nav #logo svg {
      height: 2rem;
      width: 4.4375rem; }
    nav li {
      padding-left: 2rem; }
    nav ul {
      -webkit-transform: translateY(-52%);
      -moz-transform: translateY(-52%);
      -ms-transform: translateY(-52%);
      -o-transform: translateY(-52%);
      transform: translateY(-52%); }
    nav a {
      font-size: 2.25rem; }

  .page-wrap {
    margin: 8rem 4rem -8rem 4rem; }

  #footer,
  .page-wrap:after {
    height: 12rem; }

  #footer {
    height: 8rem; }
    #footer h1 {
      font-size: 3rem; }
    #footer li {
      padding-left: 2rem; }

  .iphone6--full {
    margin: 1rem 0; }

  .window-mockup {
    border-top: solid 1.5rem #c7c8ca; } }
@media all and (max-width: 375px) {
  .section-about {
    padding: 0 2rem; }

  .greetings {
    font-size: 2.5rem; }

  #resume {
    font-size: 1.875rem; }

  .gallery-cell {
    padding: 0 2rem; }

  img.home {
    width: calc(100vw - 4rem); }

  nav {
    padding: 0 2rem; }
    nav ul {
      -webkit-transform: translateY(-54%);
      -moz-transform: translateY(-54%);
      -ms-transform: translateY(-54%);
      -o-transform: translateY(-54%);
      transform: translateY(-54%); }
    nav a {
      font-size: 2rem; }

  .page-wrap {
    margin: 8rem 2rem -8rem 2rem; }

  .project-body,
  .project-credits {
    margin-top: 2rem; }

  #project-arrows a.previous img {
    left: -1rem; }

  #project-arrows a.next img {
    right: -1rem; }

  img.process {
    margin-top: 2rem; }

  .device-container {
    margin-top: 2rem; }

  .project-video {
    margin-top: 2rem; }

  #footer {
    padding: 0 2rem; }
    #footer li {
      padding: 0 1rem; }

  #footer,
  .page-wrap:after {
    height: 10rem; } }

/*# sourceMappingURL=styles.css.map */
